#header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border: 1px solid black;
}

#logo-container{
    height: 100px;
    width: 100px;
    /* background-color: red; */
}

.logo{
    width: 100px;
    /* background-color: yellow; */
}

.nav-items > ul{
    display: flex;
    /* height: 100px; */
    padding: 10px 20px;
    margin: 30px;
}

.nav-items > ul > li{
    list-style: none;
    margin-right: 30px;
}